---
import Layout from "../../layouts/Layout.astro";

import { getForbiz } from "../../library/wpcms-forbiz";
import { getForbizPrograms } from "../../library/wpcms-forbiz-programs";

const response = await getForbiz({ fields: ["id", "title"] });
const programs = await getForbizPrograms({ fields: ["id", "title"] });
---

<Layout title="My first blog with Astro">
  <div class="p-forbiz-kv1">
    <div class="p-forbiz-kv1__inner1 js-fade-in-scroll-ul">
      <h1 class="p-forbiz-kv1__title1 js-fade-in-scroll-li">
        WORK <br />DESIGN
      </h1>
      <p class="p-forbiz-kv1__text1 js-fade-in-scroll-li">
        会社は何のために存在しているのか？<br
        />自分達は何を目指し、何のために活動しているのか？<br
        />会社は利益のために存在しているわけでもないし、社員は会社の数字を上げるために存在しているわけでもない。<br
        />社会の中における自社の存在目的と、その実現したい未来に向かって、共に関わり合うメンバーが自らの才能や個性をイキイキと表現しながら、人間らしく在れる”生命的”な会社をはぐくんでいくお手伝い。<br
        />それがはぐくむがお役立ちしたいこと。
      </p>
    </div>
  </div>
  <section class="p-forbiz-block1 p-forbiz-block1__scroll-margin">
    <div class="p-forbiz-block1__inner1">
      <h2 class="p-forbiz-block1__title1 js-fade-in-scroll">
        森のような<br />組織づくりの物語
      </h2>
      <p class="p-forbiz-block1__text1 js-fade-in-scroll">
        はぐくむではこれまで業種や規模を問わずさまざまな企業様に対して、<br
        />組織づくりのお手伝いをさせていただきました。<br
        />その中で生まれた物語の一部をご紹介いたします。
      </p>
      <ul class="p-forbiz-block1__list p-story-body__list js-fade-in-scroll-ul">
        {
          response.contents.map((content: any) => (
            <li class="p-story js-fade-in-scroll-li">
              <a class="p-story__text" href={"/stories/" + content.id}>
                {content.title}
              </a>
              <ul class="p-story__tag-list">
                <li>
                  <a
                    class="c-tag"
                    href="https://hagukumu.develop999.net//stories/?category=work-design"
                  >
                    {content.category}
                  </a>
                </li>
              </ul>
              <figure class="p-story__media p-service-detail-story__media">
                <img
                  class="p-story__image"
                  src="https://hagukumu.develop999.net/wp-content/uploads/2022/10/スクリーンショット-2022-10-18-23.39.39-556x340.png"
                  alt=""
                />
              </figure>
            </li>
          ))
        }
      </ul>
      <p class="p-forbiz-block1__button1 js-fade-in-scroll">
        <a
          href="/stories/?category=work-design"
          class="c-button -primary -fix -for-biz"
        >
          ストーリー 一覧
        </a>
      </p>
      <p class="p-forbiz-block1__banner1 js-fade-in-scroll">
        <a href="https://anchor.fm/vhcc3m7vopg" target="_blank">
          <span class="p-forbiz-block1__banner1__sp1"
            ><img
              src="https://hagukumu.develop999.net/wp-content/themes/hagukumu.co.jp/assets/static/images/forbiz/block1_banner1_1.png"
              alt="\ 聞く、はぐくむ / 代表 小寺毅によるPodcastsも配信中"
            />
          </span>
          <span class="p-forbiz-block1__banner1__pc1"
            ><img
              src="https://hagukumu.develop999.net/wp-content/themes/hagukumu.co.jp/assets/static/images/forbiz/block1_banner1_1_pc.png"
              alt="\ 聞く、はぐくむ / 代表 小寺毅によるPodcastsも配信中"
            />
          </span>
        </a>
      </p>
    </div>
  </section>
  <section class="p-forbiz-block2 p-forbiz-block2__scroll-margin" id="section1">
    <div class="p-forbiz-block2__inner1">
      <div class="js-fade-in-scroll-ul">
        <h2 class="p-forbiz-block2__title1 js-fade-in-scroll-li">
          森のような組織を<br />はぐくむためにできること
        </h2>
        <p class="p-forbiz-block2__text1 js-fade-in-scroll-li">
          一人ひとりの才能や個性を発揮するために、企業・組織に伴走する6つのプログラム。<br
          />対話を通じて想いを言葉にし、チームの関係性を整え、<br
          />そのチームに相応しい文化をはぐくみます。
        </p>
      </div>
      <ul class="p-forbiz-block2__list1 js-fade-in-scroll-ul">
        {
          programs.contents.map((content: any) => (
            <li class="js-fade-in-scroll-li">
              <div class="p-forbiz-block2__unit1">
                <h3 class="p-forbiz-block2__unit1__title1">
                  {content.program_title}
                </h3>
                <p class="p-forbiz-block2__unit1__text1">
                  {content.program_text}
                </p>
              </div>
            </li>
          ))
        }
      </ul>
      <div class="js-fade-in-scroll-ul">
        <p class="p-forbiz-block2__banner1 js-fade-in-scroll-li">
          <a href="/stories/559/">
            <span class="p-forbiz-block2__banner1__sp1"
              ><img
                src="https://hagukumu.develop999.net/wp-content/themes/hagukumu.co.jp/assets/static/images/forbiz/block2_banner1_1.png"
                alt="\ プログラムで実際に使用するシートを特別配布中 / ワークシートサンプルダウンロード"
              />
            </span>
            <span class="p-forbiz-block2__banner1__pc1"
              ><img
                src="https://hagukumu.develop999.net/wp-content/themes/hagukumu.co.jp/assets/static/images/forbiz/block2_banner1_1_pc.png"
                alt="\ 森のような組織づくりに関心のある人へ / 会社で、チームで、使えるワークシートを配布中"
              />
            </span>
          </a>
        </p>
        <p class="p-forbiz-block2__banner1 js-fade-in-scroll-li">
          <a href="/entry-forbiz">
            <span class="p-forbiz-block2__banner1__sp1"
              ><img
                src="https://hagukumu.develop999.net/wp-content/themes/hagukumu.co.jp/assets/static/images/forbiz/block2_banner1_2.png"
                alt="実施プログラムや費用などまずはお気軽にご相談ください 顧問契約について相談する"
              />
            </span>
            <span class="p-forbiz-block2__banner1__pc1"
              ><img
                src="https://hagukumu.develop999.net/wp-content/themes/hagukumu.co.jp/assets/static/images/forbiz/block2_banner1_2_pc.png"
                alt="\ 実施プログラムや費用などまずはお気軽にご相談ください / 顧問契約について相談する"
              />
            </span>
          </a>
        </p>
      </div>
    </div>
  </section>
</Layout>
