---
import Layout from "../layouts/Layout.astro";

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
import { getBlogs2 } from "../library/wpcms";
const response = await getBlogs({ fields: ["id", "title"] });
const response2 = await getBlogs2({ fields: ["id", "title"] });
---

<Layout title="My first blog with Astro">
  <div id="top_hero" class="p-top-hero">
    <div class="p-top-hero__slide-area">
      <div class="p-top-hero__slide">
        <div class="p-top-hero__text-group">
          <blockquote class="p-top-hero__message js-comments">
            <div class="js-comment" style="">
              <div
                style="display: block; text-align: start; position: relative;"
              >
                <div style="position:relative;display:inline-block;">
                  <div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    会
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    社
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    っ
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    て
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    、
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    社
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    長
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    や
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    上
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    司
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    の
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    た
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    め
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    に
                  </div>
                </div>
              </div><div
                style="display: block; text-align: start; position: relative;"
              >
                <div style="position:relative;display:inline-block;">
                  <div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    心
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    を
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    無
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    に
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    し
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    て
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    働
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    く
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    場
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    所
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    で
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    は
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    な
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    い
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    で
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    す
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    よ
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    ね
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    。
                  </div>
                </div>
              </div>
            </div>

            <div class="js-comment" style="">
              <div
                style="display: block; text-align: start; position: relative;"
              >
                <div style="position:relative;display:inline-block;">
                  <div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    み
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    ん
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    な
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    一
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    人
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    ひ
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    と
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    り
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    が
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    自
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    分
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    の
                  </div>
                </div>
              </div><div
                style="display: block; text-align: start; position: relative;"
              >
                <div style="position:relative;display:inline-block;">
                  <div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    人
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    生
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    の
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    物
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    語
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    の
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    主
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    人
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    公
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    で
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    す
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    も
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    の
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    ね
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    。
                  </div>
                </div>
              </div>
            </div>

            <div class="js-comment" style="">
              <div
                style="display: block; text-align: start; position: relative;"
              >
                <div style="position:relative;display:inline-block;">
                  <div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    対
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    話
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    を
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    重
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    ね
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    て
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    い
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    く
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    と
                  </div>
                </div>
              </div><div
                style="display: block; text-align: start; position: relative;"
              >
                <div style="position:relative;display:inline-block;">
                  <div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    メ
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    ン
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    バ
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    ー
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    そ
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    れ
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    ぞ
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    れ
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    の
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    物
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    語
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    が
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    重
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    な
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    っ
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    て
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    い
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    く
                  </div><div
                    style="position: relative; display: inline-block; opacity: 1;"
                  >
                    。
                  </div>
                </div>
              </div>
            </div>

            <div class="js-comment" style="">
              <div
                style="display: block; text-align: start; position: relative;"
              >
                <div style="position:relative;display:inline-block;">
                  <div
                    style="position: relative; display: inline-block; opacity: 0.99;"
                  >
                    物
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0.96;"
                  >
                    語
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0.91;"
                  >
                    を
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0.84;"
                  >
                    分
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0.75;"
                  >
                    か
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0.64;"
                  >
                    ち
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0.51;"
                  >
                    合
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0.36;"
                  >
                    え
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0.19;"
                  >
                    る
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    と
                  </div>
                </div>
              </div><div
                style="display: block; text-align: start; position: relative;"
              >
                <div style="position:relative;display:inline-block;">
                  <div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    数
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    字
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    も
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    自
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    分
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    ご
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    と
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    に
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    な
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    り
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    ま
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    す
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    よ
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    ね
                  </div><div
                    style="position: relative; display: inline-block; opacity: 0;"
                  >
                    。
                  </div>
                </div>
              </div>
            </div>
          </blockquote>
          <div class="p-top-hero__source">
            <div class="js-reference" style="opacity: 0;">
              <a
                class="p-top-hero__link"
                href="https://hagukumu.develop999.net/?post_type=about&p=349"
              >
                はぐくむのコンパス「全員主役の物語経営」より
              </a>
            </div>
          </div>
        </div>
        <!-- 背景画像 -->
        <figure class="p-top-hero__image js-slide-image"></figure>
        <!--/ 背景画像 -->
      </div>
    </div>
    <div class="p-top-hero__pager js-nav">
      <button class="p-top-hero__bar" type="button" aria-current="false">
        <span class="u-visually-hidden">1</span>
      </button>

      <button class="p-top-hero__bar" type="button" aria-current="false">
        <span class="u-visually-hidden">2</span>
      </button>

      <button class="p-top-hero__bar" type="button" aria-current="false">
        <span class="u-visually-hidden">3</span>
      </button>

      <button class="p-top-hero__bar" type="button" aria-current="false">
        <span class="u-visually-hidden">4</span>
      </button>

      <button class="p-top-hero__bar" type="button" aria-current="true">
        <span class="u-visually-hidden">5</span>
      </button>
    </div>
  </div>
  <section class="p-top-block1 js-fade-in-scroll-ul" data-delay="0.5">
    <div class="p-top-block1__inner1">
      <h1
        class="p-top-block1__title1 js-fade-in-scroll-li"
        style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
      >
        We are<br /> “Life Design <br />Company”
      </h1>
      <div
        class="js-fade-in-scroll-li"
        style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
      >
        <p class="p-top-block1__text1">
          はぐくむは、自分らしい一日を生き、自分たちが望む社会を育むライフデザインカンパニーです。心持ちや考え方といった内側の心境と、会社や地域といった外側の環境の両面に働きかけながら、自らの物語を生きる人を増やすために対話を通じた共育事業に取り組んでいます。
        </p>
        <p class="p-top-block1__button1">
          <a href="/about" class="c-button -primary -fix"
            >はぐくむについて知る</a
          >
        </p>
      </div>
    </div>
  </section>
  <section class="p-top-block2">
    <div class="p-top-block2__inner1 js-fade-in-scroll-ul">
      <h2
        class="p-top-block2__title1 js-fade-in-scroll-li"
        style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
      >
        はぐくむが<br />取り組んでいること
      </h2>
      <p
        class="p-top-block2__text1 js-fade-in-scroll-li"
        style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
      >
        はぐくむは、対話を大切にしながら、「自己づくり」「チームづくり」「まちづくり」の<br
        />3つの軸で事業を展開しながら、より良い社会づくりに取り組んでいます。
      </p>
      <div
        class="p-top-block2__unit1 js-fade-in-scroll-li"
        style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
      >
        <div class="p-top-block2__unit1__main1">
          <p class="p-top-block2__unit1__main1__image1">
            <img
              src="https://hagukumu.develop999.net/wp-content/themes/hagukumu.co.jp/assets/static/images/top/block2_image1_1.png"
              alt="Town Design Self Design Work Design"
            />
          </p>
          <p class="p-top-block2__unit1__main1__link1">
            <a class="c-button-with-icon -self-design" href="/about/#approach">
              <span class="c-button-with-icon__circle">
                <svg
                  width="19"
                  height="18"
                  viewBox="0 0 19 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.46742 5.03258C7.17492 5.32508 7.17492 5.79758 7.46742 6.09008L10.3774 9.00008L7.46742 11.9101C7.17492 12.2026 7.17492 12.6751 7.46742 12.9676C7.75992 13.2601 8.23242 13.2601 8.52492 12.9676L11.9674 9.52508C12.2599 9.23258 12.2599 8.76008 11.9674 8.46758L8.52492 5.02508C8.23992 4.74008 7.75992 4.74008 7.46742 5.03258Z"
                    fill="currentColor"></path>
                </svg>
              </span>
              はぐくむの３つの事業について
            </a>
          </p>
        </div>
        <div class="p-top-block2__unit1__nav1">
          <h3 class="p-top-block2__unit1__nav1__title1 -type1">
            自己をはぐくむ Self Design
          </h3>
          <ul class="p-top-block2__unit1__nav1__list1">
            <li>
              <a
                class="c-button-with-icon -self-design"
                href="https://hagukumu.develop999.net/?post_type=services&p=80"
              >
                <span class="c-button-with-icon__circle">
                  <svg
                    width="19"
                    height="18"
                    viewBox="0 0 19 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.46742 5.03258C7.17492 5.32508 7.17492 5.79758 7.46742 6.09008L10.3774 9.00008L7.46742 11.9101C7.17492 12.2026 7.17492 12.6751 7.46742 12.9676C7.75992 13.2601 8.23242 13.2601 8.52492 12.9676L11.9674 9.52508C12.2599 9.23258 12.2599 8.76008 11.9674 8.46758L8.52492 5.02508C8.23992 4.74008 7.75992 4.74008 7.46742 5.03258Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                ライフデザインスクール
              </a>
            </li>
            <li>
              <a
                class="c-button-with-icon -self-design"
                href="https://hagukumu.develop999.net/?post_type=services&p=301"
              >
                <span class="c-button-with-icon__circle">
                  <svg
                    width="19"
                    height="18"
                    viewBox="0 0 19 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.46742 5.03258C7.17492 5.32508 7.17492 5.79758 7.46742 6.09008L10.3774 9.00008L7.46742 11.9101C7.17492 12.2026 7.17492 12.6751 7.46742 12.9676C7.75992 13.2601 8.23242 13.2601 8.52492 12.9676L11.9674 9.52508C12.2599 9.23258 12.2599 8.76008 11.9674 8.46758L8.52492 5.02508C8.23992 4.74008 7.75992 4.74008 7.46742 5.03258Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                はぐくむコーチングスクール
              </a>
            </li>
            <li>
              <a
                class="c-button-with-icon -self-design"
                href="https://hagukumu.develop999.net/?post_type=services&p=130"
              >
                <span class="c-button-with-icon__circle">
                  <svg
                    width="19"
                    height="18"
                    viewBox="0 0 19 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.46742 5.03258C7.17492 5.32508 7.17492 5.79758 7.46742 6.09008L10.3774 9.00008L7.46742 11.9101C7.17492 12.2026 7.17492 12.6751 7.46742 12.9676C7.75992 13.2601 8.23242 13.2601 8.52492 12.9676L11.9674 9.52508C12.2599 9.23258 12.2599 8.76008 11.9674 8.46758L8.52492 5.02508C8.23992 4.74008 7.75992 4.74008 7.46742 5.03258Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                はぐくむの森リフレクション
              </a>
            </li>
            <li>
              <a
                class="c-button-with-icon -self-design"
                href="https://hagukumu.develop999.net/?post_type=services&p=85"
              >
                <span class="c-button-with-icon__circle">
                  <svg
                    width="19"
                    height="18"
                    viewBox="0 0 19 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.46742 5.03258C7.17492 5.32508 7.17492 5.79758 7.46742 6.09008L10.3774 9.00008L7.46742 11.9101C7.17492 12.2026 7.17492 12.6751 7.46742 12.9676C7.75992 13.2601 8.23242 13.2601 8.52492 12.9676L11.9674 9.52508C12.2599 9.23258 12.2599 8.76008 11.9674 8.46758L8.52492 5.02508C8.23992 4.74008 7.75992 4.74008 7.46742 5.03258Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                はぐくむサウナリトリート
              </a>
            </li>
          </ul>

          <h3 class="p-top-block2__unit1__nav1__title1 -type2">
            組織をはぐくむ Work Design
          </h3>
          <ul class="p-top-block2__unit1__nav1__list1">
            <li>
              <a class="c-button-with-icon -work-design" href="/forbiz">
                <span class="c-button-with-icon__circle">
                  <svg
                    width="19"
                    height="18"
                    viewBox="0 0 19 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.46742 5.03258C7.17492 5.32508 7.17492 5.79758 7.46742 6.09008L10.3774 9.00008L7.46742 11.9101C7.17492 12.2026 7.17492 12.6751 7.46742 12.9676C7.75992 13.2601 8.23242 13.2601 8.52492 12.9676L11.9674 9.52508C12.2599 9.23258 12.2599 8.76008 11.9674 8.46758L8.52492 5.02508C8.23992 4.74008 7.75992 4.74008 7.46742 5.03258Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                森のような組織をはぐくむセッション
              </a>
            </li>
          </ul>

          <h3 class="p-top-block2__unit1__nav1__title1 -type3">
            街をはぐくむ Town Design
          </h3>
          <ul class="p-top-block2__unit1__nav1__list1">
            <li>
              <a
                class="c-button-with-icon -town-design"
                href="https://hagukumu.develop999.net/?post_type=services&p=84"
              >
                <span class="c-button-with-icon__circle">
                  <svg
                    width="19"
                    height="18"
                    viewBox="0 0 19 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.46742 5.03258C7.17492 5.32508 7.17492 5.79758 7.46742 6.09008L10.3774 9.00008L7.46742 11.9101C7.17492 12.2026 7.17492 12.6751 7.46742 12.9676C7.75992 13.2601 8.23242 13.2601 8.52492 12.9676L11.9674 9.52508C12.2599 9.23258 12.2599 8.76008 11.9674 8.46758L8.52492 5.02508C8.23992 4.74008 7.75992 4.74008 7.46742 5.03258Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                はぐくむハウス
              </a>
            </li>
            <li>
              <a
                class="c-button-with-icon -town-design"
                href="https://hagukumu.develop999.net/?post_type=services&p=304"
              >
                <span class="c-button-with-icon__circle">
                  <svg
                    width="19"
                    height="18"
                    viewBox="0 0 19 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.46742 5.03258C7.17492 5.32508 7.17492 5.79758 7.46742 6.09008L10.3774 9.00008L7.46742 11.9101C7.17492 12.2026 7.17492 12.6751 7.46742 12.9676C7.75992 13.2601 8.23242 13.2601 8.52492 12.9676L11.9674 9.52508C12.2599 9.23258 12.2599 8.76008 11.9674 8.46758L8.52492 5.02508C8.23992 4.74008 7.75992 4.74008 7.46742 5.03258Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                コミュニティカフェ「はぐくむ湖畔」
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="p-top-block3 js-fade-in-scroll-ul">
    <div class="p-top-block3__inner1">
      <h2
        class="p-top-block3__title1 js-fade-in-scroll-li"
        style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
      >
        はぐくむとの<br class="u-hidden-md-up" />関わりを探すキーワード
      </h2>
      <p
        class="p-top-block3__text1 js-fade-in-scroll-li"
        style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
      >
        ここに並んでいるのは、はぐくむが追求していること、<br
          class="u-hidden-md-down"
        />得意としていること、お役に立てそうなことに関するキーワードです。<br
          class="u-hidden-md-down"
        />ピンときた言葉を選んでいただくと、関わり方のイメージが見えてくるかもしれません。
      </p>
      <div
        class="p-top-block3__list1 js-fade-in-scroll-li"
        style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
      >
        {
          response2.contents.map((content: any) => (
            <div>
              <a
                href="https://hagukumu.develop999.net//services/?category=feel-free"
                class="p-top-block3__label1"
              >
                まずは気軽に
              </a>
            </div>
          ))
        }
        <p
          class="p-top-block3__button1 js-fade-in-scroll-li"
          style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
        >
          <a
            href="https://hagukumu.develop999.net/services"
            class="c-button -primary -fix"
          >
            サービス 一覧
          </a>
        </p>
      </div>
    </div>
    <section class="p-top-block4">
      <div class="p-top-block4__inner1">
        <div class="js-fade-in-scroll-ul">
          <h2
            class="p-top-block4__title1 js-fade-in-scroll-li"
            style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
          >
            はぐくむで生まれた物語
          </h2>
          <p
            class="p-top-block4__text1 js-fade-in-scroll-li"
            style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
          >
            はぐくむの社内や取り組みをともにしている人たちの中で、<br
              class="u-hidden-md-down"
            />日々起こっている小さな発見や大きな変化。<br
              class="u-hidden-md-down"
            />こちらではそんな一人ひとりの物語を中心に、<br
              class="u-hidden-md-down"
            />代表・小寺のコラムやビジネスの考察なども読み物としてお届けしています。
          </p>
        </div>
        <div class="p-top-block4__list1-wrapper js-fade-in-scroll-ul">
          <ul class="p-story-body__list">
            <li
              class="p-story js-fade-in-scroll-li"
              style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
            >
              <a
                class="p-story__text"
                href="https://hagukumu.develop999.net/stories/567/"
                >社員の“でき”は、リーダーの“でき”？</a
              >
              <ul class="p-story__tag-list">
                <li>
                  <a
                    class="c-tag"
                    href="https://hagukumu.develop999.net//stories/?category=column"
                    >小寺毅のコラム</a
                  >
                </li>
              </ul>
              <figure class="p-story__media">
                <img
                  class="p-story__image"
                  src="https://hagukumu.develop999.net/wp-content/uploads/2022/10/column-01-556x340.png"
                  alt=""
                />
              </figure>
            </li>
            <li
              class="p-story js-fade-in-scroll-li"
              style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
            >
              <a
                class="p-story__text"
                href="https://hagukumu.develop999.net/stories/560/"
                >『LIFE SHIFT 2』を片手に、自分の人生戦略を問い直す</a
              >
              <ul class="p-story__tag-list">
                <li>
                  <a
                    class="c-tag"
                    href="https://hagukumu.develop999.net//stories/?category=work-design"
                    >Work Design News</a
                  >
                </li>
              </ul>
              <figure class="p-story__media">
                <img
                  class="p-story__image"
                  src="https://hagukumu.develop999.net/wp-content/uploads/2022/10/スクリーンショット-2022-10-18-23.39.39-556x340.png"
                  alt=""
                />
              </figure>
            </li>
            <li
              class="p-story js-fade-in-scroll-li"
              style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
            >
              <a
                class="p-story__text"
                href="https://hagukumu.develop999.net/stories/522/"
                >いい会社は「遠きをはかる」</a
              >
              <ul class="p-story__tag-list">
                <li>
                  <a
                    class="c-tag"
                    href="https://hagukumu.develop999.net//stories/?category=work-design"
                    >Work Design News</a
                  >
                </li>
              </ul>
              <figure class="p-story__media">
                <img
                  class="p-story__image"
                  src="https://hagukumu.develop999.net/wp-content/uploads/2022/10/wd-02-556x340.png"
                  alt=""
                />
              </figure>
            </li>
            <li
              class="p-story js-fade-in-scroll-li"
              style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
            >
              <a
                class="p-story__text"
                href="https://hagukumu.develop999.net/stories/559/"
                >ワークシートダウンロード</a
              >
              <ul class="p-story__tag-list">
                <li>
                  <a
                    class="c-tag"
                    href="https://hagukumu.develop999.net//stories/?category=work-design"
                    >Work Design News</a
                  >
                </li>
              </ul>
              <figure class="p-story__media">
                <img
                  class="p-story__image"
                  src="https://hagukumu.develop999.net/wp-content/uploads/2022/10/スクリーンショット-2022-10-19-0.02.36-556x340.png"
                  alt=""
                />
              </figure>
            </li>
            <li
              class="p-story js-fade-in-scroll-li"
              style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
            >
              <a
                class="p-story__text"
                href="https://hagukumu.develop999.net/stories/554/"
                >「はぐくむ四季の森」の現場から</a
              >
              <ul class="p-story__tag-list">
                <li>
                  <a
                    class="c-tag"
                    href="https://hagukumu.develop999.net//stories/?category=self-design"
                    >Self Design News</a
                  >
                </li>
              </ul>
              <figure class="p-story__media">
                <img
                  class="p-story__image"
                  src="https://hagukumu.develop999.net/wp-content/uploads/2022/10/⑤-556x340.jpeg"
                  alt=""
                />
              </figure>
            </li>
            <li
              class="p-story js-fade-in-scroll-li"
              style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
            >
              <a
                class="p-story__text"
                href="https://hagukumu.develop999.net/stories/498/"
                >僕とはぐくむの、ともに生きる物語</a
              >
              <ul class="p-story__tag-list">
                <li>
                  <a
                    class="c-tag"
                    href="https://hagukumu.develop999.net//stories/?category=stories-of-people"
                    >はぐくむに関わる人の物語</a
                  >
                </li>
              </ul>
              <figure class="p-story__media">
                <img
                  class="p-story__image"
                  src="https://hagukumu.develop999.net/wp-content/uploads/2022/10/Copy-of-たけちん-556x340.jpg"
                  alt=""
                />
              </figure>
            </li>
          </ul>
          <p
            class="p-top-block4__button1 js-fade-in-scroll-li"
            style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
          >
            <a
              href="https://hagukumu.develop999.net/stories"
              class="c-button -primary -fix"
            >
              ストーリー 一覧
            </a>
          </p>
        </div>
      </div>
    </section>
    <section
      class="p-top-block5 js-fade-in-scroll"
      style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
    >
      <div class="p-top-block5__inner1">
        <h2 class="p-top-block5__title1">はぐくむの所在地</h2>
        <div class="p-top-block5__wrap1">
          <div class="p-top-block5__main1">
            <p class="p-top-block5__main1__text1">株式会社はぐくむ</p>
            <p class="p-top-block5__main1__text1">
              〒155-0033<br />東京都世田谷区代田 4-27-8
            </p>
            <p class="p-top-block5__main1__text2">
              井の頭線東松原駅から徒歩5分<br />小田急線梅ヶ丘駅、<br
              />小田急線世田谷代田駅から徒歩9分<br />羽根木公園から徒歩0分
            </p>
            <p class="p-top-block5__main1__link1">
              <a
                class="c-button-with-icon -self-design"
                href="https://goo.gl/maps/dYw6UPRkyT3mec4H7"
                target="_blank"
              >
                <span class="c-button-with-icon__circle">
                  <svg
                    width="19"
                    height="18"
                    viewBox="0 0 19 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.46742 5.03258C7.17492 5.32508 7.17492 5.79758 7.46742 6.09008L10.3774 9.00008L7.46742 11.9101C7.17492 12.2026 7.17492 12.6751 7.46742 12.9676C7.75992 13.2601 8.23242 13.2601 8.52492 12.9676L11.9674 9.52508C12.2599 9.23258 12.2599 8.76008 11.9674 8.46758L8.52492 5.02508C8.23992 4.74008 7.75992 4.74008 7.46742 5.03258Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                Google mapで開く
              </a>
            </p>
          </div>
          <div class="p-top-block5__map1">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.697003716408!2d139.65610990000002!3d35.6598361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f3734e144831%3A0x5d822f0bc88a4beb!2z44CSMTU1LTAwMzMg5p2x5Lqs6YO95LiW55Sw6LC35Yy65Luj55Sw77yU5LiB55uu77yS77yX4oiS77yY!5e0!3m2!1sja!2sjp!4v1663489268593!5m2!1sja!2sjp"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </section>
  </section>

  <style>
    main {
      margin: auto;
      padding: 1em;
      max-width: 60ch;
    }
  </style>
</Layout>
