---
import Layout from "../layouts/Layout.astro";

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
import { getBlogs2 } from "../library/wpcms";
const response = await getBlogs({ fields: ["id", "title"] });
const response2 = await getBlogs2({ fields: ["id", "title"] });
---

<Layout title="My first blog with Astro">
  <main>
    <ul>
      {
        response2.contents.map((content: any) => (
          <li>
            <a href={content.id}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
