---
import Layout from "../../layouts/Layout.astro";
import {
  getStoryPosts,
  getStoryPostDetail,
  getStoryPostNext,
} from "../../library/wpcms-stories";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getStoryPosts({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      storyId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { storyId } = Astro.params;
const story = await getStoryPostDetail(storyId as string);
const next = await getStoryPostNext(storyId as string);
---

<Layout title="My first blog with Astro">
  <article class="p-post">
    <div class="l-contents__wrapper -narrow">
      <header class="p-post-header">
        <h1 class="p-post-header__heading">
          <b class="p-post-header__directory">Story</b>
          <span class="p-post-header__main-text">{story.title}</span>
        </h1>
        <ul class="p-post-header__tag-list">
          <li class="p-post-header__tag-item">
            <a class="c-tag" href={"/stories/?category=" + story.category_slug}
              >{story.category}</a
            >
          </li>
        </ul>
      </header>
      <div class="p-post-body">
        <figure class="p-post-body__main-image">
          <img
            src="http://practicearimuraryomacom.local/wp-content/uploads/2022/10/column-01.png"
            alt=""
          />
        </figure>
        <Fragment set:html={story.content} />
      </div>
    </div>
    <div class="l-contents__wrapper c-paging">
      <!-- 前後記事へのリンク -->

      <nav class="navigation post-navigation" aria-label="前後の記事へのリンク">
        <div class="nav-links">
          <div class="nav-previous">
            <a href="https://hagukumu.develop999.net/stories/513/" rel="prev"
              ><span class="prev-text">前の記事</span><span class="prev-title"
                >with LIFEで関われる はぐくむを育んでいきたい</span
              >
            </a>
          </div>
          <div class="nav-next">
            <a href={"/stories/" + next.id} rel="next"
              ><span class="next-text">次の記事</span><span class="next-title"
                >僕がはぐくむで働くまでの物語</span
              >
            </a>
          </div>
        </div>
      </nav>
      <!--/ 前後記事へのリンク -->
      <a class="c-paging__back" href="/stories/">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="6" height="6"></rect>
          <rect y="9" width="6" height="6"></rect>
          <rect y="18" width="6" height="6"></rect>
          <rect x="9" width="6" height="6"></rect>
          <rect x="9" y="9" width="6" height="6"></rect>
          <rect x="9" y="18" width="6" height="6"></rect>
          <rect x="18" width="6" height="6"></rect>
          <rect x="18" y="9" width="6" height="6"></rect>
          <rect x="18" y="18" width="6" height="6"></rect>
        </svg>
        <span class="c-paging__back-text">一覧に戻る</span>
      </a>
    </div>
  </article>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
